.venv
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
dist/
build/
.eggs/
*.egg
*.log
*.sqlite3
*.db
.DS_Store
.env
.env.*
.idea/
.vscode/
*.bak
*.swp
*.swo
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.tox/
.cache/
*.spec
.gitignore
.venv